<table class="table table-striped" >
  <thead >
    <tr class="thead-dark">
      <th scope="col">Id</th>
      <th scope="col" >Name</th>
      <th scope="col" >Date</th>
      <th scope="col" colspan="2">Strength Level</th>
      <th scope="col" colspan="2">Stamina/Reps</th>
      <th scope="col">Picture</th>
      <th scope="col">&nbsp;</th>
    </tr>
    <tr class="table table-sm table-dark">
      <th scope="col">&nbsp;</th>
      <th scope="col">&nbsp;</th>
      <th scope="col">&nbsp;</th>
      <th scope="col" id="leftRightCell">Left</th>
      <th scope="col" id="leftRightCell">Right</th>
      <th scope="col" id="leftRightCell">Left</th>
      <th scope="col" id="leftRightCell">Right</th>
      <th scope="col">&nbsp;</th>
      <th scope="col">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" >[id]</th>
      <td id="leftRightCell" >[fullName]</td>
      <td id="leftRightCell" >[Date]</td>
      <td id="leftRightCell">[leftStrength</td>
      <td id="leftRightCell">[rightStrength]</td>
      <td id="leftRightCell">[leftRep</td>
      <td id="leftRightCell">[rightRep]</td>
      <td> <img id="table-pics" src="[imageSrc]" >[image]</td>
      <td><button type="button" class="btn btn-info btn-sm">Edit</button></td>
    </tr>
    <tr >
      <th scope="row">[id]</th>
      <td id="leftRightCell">[fullName]</td>
      <td id="leftRightCell" >[Date]</td>
      <td id="leftRightCell">[leftStrength</td>
      <td id="leftRightCell">[rightStrength]</td>
      <td id="leftRightCell">[leftRep</td>
      <td id="leftRightCell">[rightRep]</td>
      <td> <img id="table-pics" src="[imageSrc]" >[image]</td>
      <td><button type="button" class="btn btn-info btn-sm">Edit</button></td>
    </tr>
    <tr>
      <th scope="row">[id]</th>
      <td id="leftRightCell">[fullName]</td>
      <td id="leftRightCell" >[Date]</td>
      <td id="leftRightCell">[leftStrength</td>
      <td id="leftRightCell">[rightStrength]</td>
      <td id="leftRightCell">[leftRep</td>
      <td id="leftRightCell">[rightRep]</td>
      <td> <img id="table-pics" src="[imageSrc]" >[image]</td>
      <td><button type="button" class="btn btn-info btn-sm">Edit</button></td>
    </tr>
  </tbody>
</table>

<br />
<button type="button" class="btn btn-primary">Add</button>


<router-outlet></router-outlet>